/* TYPE SELECTOR */

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: #F4F7FC;
    color: #333333;
}

/* ID SELECTOR */

#my-name {
    font-size: 42px;
    color: white;
}

/* CLASS SELECTOR */

.skill-list {
    background-color: #EAF4FF;
}

/* HEADER */

header {
    background-color: #0A192F;
    color: white;
    text-align: center;
    padding: 15px;
}

/* NAVIGATION */

nav {
    background-color: #112D4E;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #00A8E8;
    text-decoration: none;
}

/* SECTIONS */

section {
    background-color: white;
    margin: 10px;
    padding: 15px;
}

h2 {
    color: #0A192F;
}

/* TABLE */

table {
    background-color: #FFFFFF;
}

/* FORM */

input,
textarea {
    background-color: #F8F9FA;
}

/* FOOTER */

footer {
    background-color: #0A192F;
    color: white;
    text-align: center;
    padding: 10px;
}